.center {
    display: table;
    margin: 0 auto;
}

.navbar {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: black;
}

.navbar li {
    float: left;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 4px 50px;
    text-decoration: none;
    font-size: 300%;
}

.navbar a:hover {
    background-color: grey;
}
